<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<dict>
			<key>name</key>
			<string>Pipe</string>
			<key>price</key>
			<string>20</string>
			<key>dimensions</key>
			<string>2 cm radius, 1m length</string>
		</dict>
		<key>location</key>
		<dict>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>0</string>
			<key>z</key>
			<string>0.5</string>
		</dict>
		<key>orientation</key>
		<dict>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>90</string>
			<key>z</key>
			<string>90</string>
		</dict>
	</dict>
	<dict>
		<key>description</key>
		<dict>
			<key>name</key>
			<string>Pipe</string>
			<key>price</key>
			<string>20</string>
			<key>dimensions</key>
			<string>2 cm radius, 1m length</string>
		</dict>
		<key>location</key>
		<dict>
			<key>x</key>
			<string>0.12</string>
			<key>y</key>
			<string>0</string>
			<key>z</key>
			<string>0.5</string>
		</dict>
		<key>orientation</key>
		<dict>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>90</string>
			<key>z</key>
			<string>90</string>
		</dict>
	</dict>
	<dict>
		<key>description</key>
		<dict>
			<key>name</key>
			<string>Pipe</string>
			<key>price</key>
			<string>20</string>
			<key>dimensions</key>
			<string>2 cm radius, 1m length</string>
		</dict>
		<key>location</key>
		<dict>
			<key>x</key>
			<string>0.24</string>
			<key>y</key>
			<string>0</string>
			<key>z</key>
			<string>0.5</string>
		</dict>
		<key>orientation</key>
		<dict>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>90</string>
			<key>z</key>
			<string>90</string>
		</dict>
	</dict>
	<dict>
		<key>description</key>
		<dict>
			<key>name</key>
			<string>Pipe</string>
			<key>price</key>
			<string>20</string>
			<key>dimensions</key>
			<string>2 cm radius, 1m length</string>
		</dict>
		<key>location</key>
		<dict>
			<key>x</key>
			<string>0.36</string>
			<key>y</key>
			<string>0</string>
			<key>z</key>
			<string>0.5</string>
		</dict>
		<key>orientation</key>
		<dict>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>90</string>
			<key>z</key>
			<string>90</string>
		</dict>
	</dict>
	<dict>
		<key>description</key>
		<dict>
			<key>name</key>
			<string>Pipe</string>
			<key>price</key>
			<string>20</string>
			<key>dimensions</key>
			<string>2 cm radius, 1m length</string>
		</dict>
		<key>location</key>
		<dict>
			<key>x</key>
			<string>0.48</string>
			<key>y</key>
			<string>0</string>
			<key>z</key>
			<string>0.5</string>
		</dict>
		<key>orientation</key>
		<dict>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>90</string>
			<key>z</key>
			<string>90</string>
		</dict>
	</dict>
	<dict>
		<key>description</key>
		<dict>
			<key>name</key>
			<string>Pipe</string>
			<key>price</key>
			<string>20</string>
			<key>dimensions</key>
			<string>2 cm radius, 1m length</string>
		</dict>
		<key>location</key>
		<dict>
			<key>x</key>
			<string>0.6</string>
			<key>y</key>
			<string>0</string>
			<key>z</key>
			<string>0.5</string>
		</dict>
		<key>orientation</key>
		<dict>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>90</string>
			<key>z</key>
			<string>90</string>
		</dict>
	</dict>
</array>
</plist>
